
.form-control:focus {
  box-shadow: none;
}

.github-fork-ribbon-wrapper{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
.right {
  text-align: right;
}
.github-fork-ribbon{
  background-color: rgb(0, 170, 85);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right:-50px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
}
.github-fork-ribbon a {
  border: 2px dotted #fff;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 5px #444;
}
.github-fork-ribbon a:hover {
  color: #fff;
  text-decoration: none;
}




.avatar img{
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 10px solid #ccc;
}
.details{
  min-height:500px;
  text-align: center;
  color: #fff;
}
.header .name{
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 20px;
  text-align: center;
}
.block{
  margin-bottom: 20px;
  margin-top: 10px;

}
hr{
        top: 20px;
        border: none;
        height: 12px;
        background: #fff;
        margin-bottom: 20px;
        width: 80%;
        margin-left:10% !important;
        margin-right:10%;

}
.more-details{
  margin: 10px 20px;
}

.section{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  background: rgb(255, 252, 252);
  padding: 5px 10px;
}
.section h3{
  font-size: 20px;
  margin: auto;
  font-weight: bold;
}
